# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
venv_repaired/
venv_legacy_broken_*/
.venv/

# Django
db.sqlite3
staticfiles/

# Environment variables
.env

# Firebase credentials
service-account.json
firebase-service-account.json
*-firebase-adminsdk-*.json

# Secrets
secrets.json

# IDE
.vscode/

.vercel
